
.container{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 200px;
    display: block;
    margin-bottom: 30px;
}

h1{
    margin-bottom: 50px;
}

form{
    width: 100%;
}

